.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    gap: 30px 40px;
}
.item {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid red;

}
.item:nth-of-type(4){
    background-color: lightcoral;
    display: grid;
}

body{
    font-family: Arial;
}